<script>
    let today = new Date();    
    let weddingDate = new Date('12/17/2021');    
    let numberOfDays = Math.round((weddingDate.getTime() - today.getTime()) / (1000 * 3600 * 24)) + 1;
</script>
<p>{ numberOfDays } Days To Go!</p>
