<script>
</script>

<footer>
    <img src="/img/background-footer.png" />
</footer>

<style>
    footer {
        background-color: #FEF9EF;
    }
    footer img {
        width: 100%;
        height: 50%;
    }

</style>
