<script>
    export let currentPage = '';

    import { onMount } from 'svelte';
    onMount(() => {currentPage = window.location.pathname.substring(1)});

</script>

<header>
    <h1>Thushanti & Johannes</h1>

    <p>December 17, 2021 • Wadduwa, Sri Lanka</p>

    <nav>
        <ul>
            <li><a class="{ currentPage === '' ? 'current' : ''}" href="/" on:click={() => (currentPage = '')}>Home</a></li>
            <li><a class="{ currentPage === 'story' ? 'current' : ''}" href="/story" on:click={() => (currentPage = 'story')}>Our Story</a></li>
            <li><a class="{ currentPage === 'travel' ? 'current' : ''}" href="/travel" on:click={() => (currentPage = 'travel')}>Travel</a></li>
            <li><a class="{ currentPage === 'wedding-day' ? 'current' : ''}" href="/wedding-day" on:click={() => (currentPage = 'wedding-day')}>Wedding Day</a></li>
            <li><a class="typeform-share button" data-mode="drawer_right" target="_blank" href="https://subledgerdev.typeform.com/to/MPL7EiRQ"><button>RSVP!</button></a></li>
        </ul>
    </nav>
</header>

<style>
    h1 {
        font-family: Roboto;
        font-size: 58px;
        font-weight: 400;
        margin-top: 0px;
        padding-top: 150px;
    }

    img {
        width: 100%;
        position: absolute;
        left: 0;
    }

    nav {
        letter-spacing: 2px;
        margin-top: 50px;
    }

    li {
        display: inline-block;
        padding-top: 0px;
        padding-right: 8px;
        padding-bottom: 0px;
        padding-left: 8px;
    }

    a {
        color: inherit;
        text-decoration: inherit;
        border-width: 0px;
        border-style: solid;
        box-sizing: border-box;
        padding-bottom: 10px;
        transition-property: all;
        transition-duration: 0.15s;
        transition-timing-function: ease;
        transition-delay: 0s;
    }

    a:hover {
        border-bottom-color: rgb(51, 51, 51);
        border-bottom-style: solid;
        border-bottom-width: 2px;
    }

    @media (min-width: 40em) {
        a.current {
            border-bottom-color: rgb(51, 51, 51);
            border-bottom-style: solid;
            border-bottom-width: 2px;
        }
    }

    a.button {
        color: red;

    }

</style>
