<div class="timeline-container">
    <div class="timeline-row">
        <div class="flex-item">
            <h2>2017 Watamu</h2>
            <p>Where it all began</p>
        </div>
        <div class="circle">
        </div>
        <img class="flex-item" src="/img/storytimeline-1.jpeg">
    </div>

    <div class="timeline-row">
        <img class="flex-item" src="/img/storytimeline-2.webp">
        <div class="circle">
        </div>
        <div class="flex-item">
            <h2>2017 Irish Ball</h2>
            <p>We dressed up fancy (Joi dug out a suit from the back of his closet) and went to the Muthaiga country club, drank too many Irish bombs and met some of each other’s friends that night To be honest we don’t remember much - except for the fact that someone’s leftover brownies made our greedy dog sick - it might have been the chocolate. We will never know. She is fine.</p>
        </div>
    </div>

    <div class="timeline-row">
        <div class="flex-item">
            <h2>2017 Amboseli</h2>
            <p>Camping with friends to the view of Kilimanjaro after a couple of hours on the worst roads on earth. We decided to stop by a lake for a picnic only to have a hippo mom chase us away from her baby.</p>
        </div>
        <div class="circle">
        </div>
        <img class="flex-item" src="/img/storytimeline-3.webp">
    </div>

    <div class="timeline-row">
        <img class="flex-item" src="/img/storytimeline-4.webp">
        <div class="circle">
        </div>
        <div class="flex-item">
            <h2>2017 Baringo</h2>
            <p>We stayed in a cottage overlooking lake Baringo and Devils Rock, kayaking in croc infested waters, deep water soloing into the lake and falling in love.</p>
        </div>
    </div>

    <div class="timeline-row">
        <div class="flex-item">
            <h2>2017 Israel - Masada</h2>
            <p>Meeting some of Joi’s family, climbing Masada at high noon, cursing in the dead sea because those salt crystals are ridiculously painful. Eating all the food. We started our ritual of traveling on our birthdays - we did it every year except for 2020 - damn covid.</p>
        </div>
        <div class="circle">
        </div>
        <img class="flex-item" src="/img/storytimeline-5.webp">
    </div>

    <div class="timeline-row">
        <img class="flex-item" src="/img/storytimeline-6.webp">
        <div class="circle">
        </div>
        <div class="flex-item">
            <h2>2018 Sri Lanka</h2>
            <p>Meeting some of Thush's family, road trippin, cultural triangle, playing Sri Lankan monopoly (Just go men) with the cuzzes, and eating all the (spicy) food. </p>
        </div>
    </div>

    <div class="timeline-row">
        <div class="flex-item">
            <h2>2018 Buschöhrchen</h2>
            <p>Meeting some more of Joi’s family, going on ‘small’ walks - Degn style (for 4 hours) after dinner board games, horse riding and eating all the food.</p>
        </div>
        <div class="circle">
        </div>
        <img class="flex-item" src="/img/storytimeline-7.webp">
    </div>

    <div class="timeline-row">
        <img class="flex-item" src="/img/storytimeline-8.webp">
        <div class="circle">
        </div>
        <div class="flex-item">
            <h2>2018 Travel in Europe</h2>
            <p>Meeting Thush’s friends, more road trippin, long hikes, drinking all the wine, eating all the food.</p>
        </div>
    </div>

    <div class="timeline-row">
        <div class="flex-item">
            <h2>2019 Baby Moon - Lamu</h2>
            <p>First trimester. Sunset dhow rides, floating bars, eating all the food, throwing up all the food.</p>
        </div>
        <div class="circle">
        </div>
        <img class="flex-item" src="/img/storytimeline-9.webp">
    </div>

    <div class="timeline-row">
        <img class="flex-item" src="/img/storytimeline-95.webp">
        <div class="circle">
        </div>
        <div class="flex-item">
            <h2>2019 The Brighton, Colombo, Dallas invasions to Nairobi</h2>
            <p>Joi gets to meet more of the (considerable) Sri Lankan family and to experience being part of the Rasa Clan. </p>
        </div>
    </div>

    <div class="timeline-row">
        <div class="flex-item">
            <h2>2019 So Heavily Preggers</h2>
            <p>Night before Malek was born - excited to meet our baby - no space for food.</p>
        </div>
        <div class="circle">
        </div>
        <img class="flex-item" src="/img/storytimeline-10.webp">
    </div>

    <div class="timeline-row">
        <img class="flex-item" src="/img/storytimeline-11.webp">
        <div class="circle">
        </div>
        <div class="flex-item">
            <h2>2019 Malek</h2>
            <p>We meet our beautiful baby after 16 hours of labour and Joi trying to remember everything we learned in our Lamaze classes. Our world changed.</p>
        </div>
    </div>

    <div class="timeline-row">
        <div class="flex-item">
            <h2>2020 Pre-covid</h2>
            <p>Navigating life as new parents, brunching, walks in our neighborhood forest with our nearest and dearest. No social distancing was maintained.</p>
        </div>
        <div class="circle">
        </div>
        <img class="flex-item" src="/img/storytimeline-12.webp">
    </div>

    <div class="timeline-row">
        <img class="flex-item" src="/img/storytimeline-13.webp">
        <div class="circle">
        </div>
        <div class="flex-item">
            <h2>2020</h2>
            <p>Making career changes, moving into a new house, lock-downs, being far from our families and making decisions on our future - knowing that we make a great team.</p>
        </div>
    </div>

    <div class="timeline-row">
        <div class="flex-item">
            <h2>2021</h2>
            <p>We are excited to celebrate our family with all of you!</p>
        </div>
        <div class="circle">
        </div>
        <img class="flex-item" src="/img/storytimeline-14.webp">
    </div>
</div>


<style>

    .timeline-container {
        display: block;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    @media (min-width: 40em) {
        .timeline-row {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            flex-wrap: nowrap;
            position: relative;
            margin-left: 15%;
            margin-right: 15%;
        }

        .circle {
            height: 8px;
            width: 8px;
            background-color: #333;
            transform: translate(-50%, -50%);
            border-radius: 100rem;
            left: 50%;
            top: 50%;
        }

        .timeline-row:before {
            content: '';
            border-left: 1px dashed #333;
            display: block;
            position: absolute;
            left: calc(50% - 0.22rem);
            top: 0;
            height: calc(50% - 0.9rem);
            bottom: 0;
            transform: matrix(1, 0, 0, 1, -0.51, 0);
        }

        .timeline-row:after {
            content: '';
            border-left: 1px dashed #333;
            display: block;
            position: absolute;
            left: calc(50% - 0.22rem);
            top: calc(50% + 0.5rem);
            height: calc(50% - 0.9rem);
            bottom: 0;
            transform: matrix(1, 0, 0, 1, -0.51, 0);
        }

        .flex-item {
            flex: 1 1 0;
            text-align: center;
        }

        .flex-item:first-child {
            padding-right: 150px;
        }

        .flex-item:nth-child(3) {
            padding-left: 150px;
        }
    }

    @media (max-width: 40em) {
        .timeline-row {
            margin-bottom: 150px;
        }
    }


    img {
        max-width: 100%;
        min-width: 150px;
        display: block;
        height: auto;
        object-fit: contain;
    }
</style>
