<script>
</script>

<div id="safe-the-date-box">

    <div class="safe-the-date-item" id="safe-the-date-left">
        <p>17 December 2021</p>
    </div>

    <div class="safe-the-date-item" id="safe-the-date-right">
        <p>Wadduwa <br> Sri Lanka</p>
    </div>

</div>

<style>
    div#safe-the-date-box {
        display: flex;
        justify-content: center;
        margin-left: 30%;
        margin-right: 30%;
        margin-top: 150px;
    }
    div.safe-the-date-item {
        display: flex;
        align-items: center;
    }
    div#safe-the-date-left {
        padding-right: 10%;
    }
    div#safe-the-date-right {
        padding-left: 10%;
        border-left-color: rgb(51, 51, 51);
        border-left-style: solid;
        border-left-width:  1px;
        display: flex;
        align-items: center;
    }
    p {
        font-size: 40px;
    }
</style>

