<script>
	import Header from '$lib/Header.svelte';
	import Footer from '$lib/Footer.svelte';
    import { onMount } from 'svelte';
    import { initTypeform } from '$lib/typeform-rsvp.svelte';

    onMount(() => {initTypeform()});
</script>

<main>
	<Header />
    <slot />
	<Footer />
</main>

<style>

	:root {
		font-family: Roboto;
	}

    main {
        margin: 0;
        padding-bottom: 500px;
    }

	main {
        background: no-repeat url("/img/background.png");
        background-color: #FEF9EF;
		text-align: center;
		padding: 0px;
		margin: 0 auto;
        width: 100%;
        height: 100%;
	}
    

</style>
