<script>
    import SafeTheDateBox from '$lib/SafeTheDateBox.svelte';
    import { onMount } from 'svelte';
    import { initTypeform } from '$lib/typeform-rsvp.svelte';

    onMount(() => {initTypeform()});

</script>

<p id="announcement">
    We are getting married and would love for you to be there with us<br /><br />
    Please Save the Date and click RSVP above!
</p>

<SafeTheDateBox />


<style>
	#announcement {
        margin-top: 100px;
        font-size: 40px;
	}

    a:link, a:visited {
        color: black;
    }

</style>
