<script>
    import PictureTimeline from '$lib/PictureTimeline.svelte';
</script>

<div id="story-header">
    <img src="/img/storytimeline-header.webp">
    <span>
        We first met at a friends dinner party. A couple of BBQs and a paintballing session later we went on a weekend getaway to the coast where we ate too much, drank too much and got stung by jellyfish at a midnight swim in the ocean. It was a perfect start to our relationship. We went to an  Indian tikka restaurant for our first date, but Thushanti couldn't eat anything because she was vegan and Joi couldn't eat anything because everything was too spicy. Not much food was consumed but the conversation was incredible  and there were many more dates after this one. We spent the years after that travelling the world, falling in love, moving in together, and starting our family. Not ones to follow the traditional order of doing things... we would like to make this official and want to celebrate with the people who are important to us.
    </span>
</div>

<PictureTimeline />

<style>
    #story-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 60px;
        margin-left: 25%;
        margin-right: 25%;
    }
    #story-header span {
        margin-top: 30px;
        line-height: 1.5;
    }

    #story-header img {
        width: 50%;
        margin-left: 0;
    }
</style>
